.btn {
  position: absolute;
  top: 30px;
  left: 50%;

  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color:cornflowerblue;
}

.win {
  background-color: green;
}

.faill {
  background-color: red;
}

.danger {
  background-color: tomato;
}

.atention {
  background-color: yellowgreen;
}